.webtv_article_h1{
	text-align: center;
	width: 100%;
	
	.article_h1;

	>div{
		margin-top:75px;
	}
}

#section-playlist{
    margin: 0px auto;
	margin-top: 80px;
	background-color: #ebebeb;
	overflow:hidden;
	width: 1080px;
}


#playlist{
	margin-left: 16px;
}


.webtv_h1{
	text-align: center;
    
    >div{
        
        margin-top: 45px;
		margin-bottom: 45px;
        
        display: inline-block;
	    padding-left: 100px;
	    padding-right: 100px;
	    height: 1px;
	    line-height: 0px;
	    background-color: #cecece;
	    font-family: 'brandon-grotesque';
        
        >h1{
            font-weight: 300;
            text-align: center;
            display: inline-block;
            margin-top: -9px;
            margin-right: 20px;
            background-color: #ebebeb;
            width: 100%;
            line-height: 20px;
            font-size: 24px;   
        }
    }
}

.webtv_masthead{
	
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
    
    .uw_heading{
        height: 150px;
    }
}

.webtv_masthead,
.webtv_content{
    
    .grid_1_0{
    
        width: 100%;
    }
}

#ytplayer{
    display: block;
    position: relative;
    margin: 0px auto;
}

.webtv-playlist-item{
	
    float: left;
	width: 255px;
	height: 200px;
	margin-right: 10px;
	margin-bottom: 20px;

	>a{
		position: relative;
		display: block;
		background-image: url('https://factorylabs-unroole.s3.amazonaws.com/system/asset_images/56/original/video_play_arrow.png?1382560515');
		background-repeat: no-repeat;
		background-position: 97px 50px;
		padding-top: 158px;
		padding-left: 5px;
		padding-right: 5px;
		font-size: 15px;
		color: #333333;
		font-weight: 300;
		height: 190px;
		margin-top: -152px;
		z-index: 100;
		border-width: 0px;
	}

	>div{
		text-decoration: none;
		display: block;
		overflow: hidden;
		width: 255px;
		height: 152px;
		border-color: white;
		border-style: solid;
		border-width: 1px;

		img{
			position: relative;
			width: 255px;
			height: 150px;
			top: 0px;
			display: block;
			margin: 0px;
			padding: 0px;
		}
	}

	
}

.webtv-video-title{
	
    display: block;
	padding-top: 13px;
	font-weight: 300;
	font-size: 24px;
    width: 95%;
    margin: 0px auto;
}