.uw_classified_button{
    
    border-left: 1px solid #474747;
    border-right: 1px solid #474747;
    
    >div{
        >a{
            >span{
                text-transform: uppercase;
                display: table-cell;
                width: 150px;
                height: 74px;
                color: #8a8a8a;
                font-size: 11px;
                text-align: center;
                vertical-align: middle;
                background-color: #333;
            }
        }
        
        >a:hover{
            
                color:#333333;
            
            >span{
                background-color: white;
                border-bottom: 2px solid #ac1400;
            }
        }
    }
}
