.uw_language_button{

    float: left;
    width: 75%;
    height:40px;
    margin: 12.5%;
    
                
    >div{
        >a{
            >span{
                background-repeat: no-repeat;
            }
        }
    }
    
    a, a:link, a:visited{
        
        display: block;
        line-height: 43px;
        text-align: center;
        font-weight: bold;
        font-size: 11px;
        color: #333333;
        background-color: #ebebeb;
        border: 1px solid #cecece;
    }

    a:hover{
        
        background-color:#e1e1e1;
        
        -webkit-transition: background-color 0.2s ease;
        -moz-transition: background-color 0.2s ease;
        -o-transition: background-color 0.2s ease;
        -ms-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
    }
}