.uw_red_button{

    height: 40px;
    margin: 0;
    background-color: #b30007;
    padding: 0px 20px 0px 20px;
    border: 0px;
    text-transform: uppercase;
    cursor: pointer;
    
    color: white;
    font-size: 13px;
    
    >div{
        
        >a{
        
            >span{
                position: relative;
                top: 11px;
                color: white;
            }
        }
    }
}