.content_box{
    
    position: relative;
    z-index: 1;
    
    width: 100% !important;
    padding-left: 154px;
    
    .grid_full{
        width: 100% !important;
    }
    
    >.spacer{
    
        >.ub_content_box{
        
            >.unroole{
            
                >.grid{
                
                    >.ub_section{
                    
                        >.containers{
                            
                            width: auto;
                        }
                    }
                }
            }   
        }
    }
}
/* section needs to be 100 % */
.ub_subsection{
    &.grid_1_0, 
    &.grid_full{
        width: 100%;
    }
}